@model RecipeApp.ViewModels.RecipeCreateViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Recipe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.recipe.Name" class="control-label"></label>
                <input asp-for="@Model.recipe.Name" class="form-control" required />
                <span asp-validation-for="@Model.recipe.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.recipe.Content" class="control-label"></label>
                <input asp-for="@Model.recipe.Content" class="form-control" required />
                <span asp-validation-for="@Model.recipe.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.recipe.Duration" class="control-label"></label>
                <input asp-for="@Model.recipe.Duration" class="form-control" required />
                <span asp-validation-for="@Model.recipe.Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.recipe.Photo" class="control-label"></label>
                <input asp-for="@Model.recipe.Photo" class="form-control" required />
                <span asp-validation-for="@Model.recipe.Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.recipe.CreatedAt" class="control-label"></label>
                <input asp-for="@Model.recipe.CreatedAt" class="form-control" required />
                <span asp-validation-for="@Model.recipe.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Category</label>
                <select name="category" class="form-control" required>
                    @for (var i = 0; i < @Model.categories.Count; i++)
                    {
                        <option value="@Model.categories[i].Id">@Model.categories[i].Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Complexity</label>
                <select name="complexity" class="form-control" required>
                    @for (var i = 0; i < @Model.complexities.Count; i++)
                    {
                        <option value="@Model.complexities[i].Id">@Model.complexities[i].Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
